gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
GeneratedPluginRegistrant.java

*.iml
*.class
.gradle/
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/buildSrc/.gradle
/buildSrc/build
.externalNativeBuild
.cxx
key.properties
**/*.keystore
**/*.jks
